.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161719;
  height: 20rem;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    input {
      padding: 0.5rem;
      margin: 0.5rem 0 0.5rem 0;
      // &:hover {
      //   border: 1px solid red;
      // }
    }
    textarea {
      margin-top: 0.5rem;
      &:hover {
        border: 1px solid red;
      }
    }
  }
}
