.main-container {
  background-color: #111113;
  height: 30rem;
  width: 100%;
  color: #fff;
  display: flex;
  padding: 5rem;
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    .titulo {
      text-align: left;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 100%;
    }
    p {
      text-align: justify;
      color: #888888;

    }
  }
  .horario {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #28292C;
    padding: 3rem;
    .horario__titulo {
        color: #fff;
        margin-bottom: 2rem;
    }
    hr {
        margin: 1rem 0 1rem 0;
    }
    .horario__entrada__servicio{
        color: #C9ACA4;
    }    
  }
}
